/* 
--- TYPOGRAPHY SYSTEM

- Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Bold 700


Paragraph 
default 4.4 rem
Long 3.2 rem

--- BORDER-RADIUS
Default: 10px

--- 07 WHITESPACES
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quote-container {
  max-width: 90rem;
  padding: 2.4rem 3.2rem;
  border-radius: 1rem;
  background-color: rgba(#fff, #fff, #fff, 0.4);
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
  font-size: 4.4rem;
  margin-bottom: 1.6rem;
}

.long-quote {
  font-size: 3.2rem;
}

.fa-quote-left {
  font-size: 8.6rem;
}

.quote-author {
  font-size: 3.2rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

/* Media Queries */

@media screen and (max-width: 62.5rem) {
  .quote-container {
    margin: auto 1.2rem;
  }
  .quote-text {
    font-size: 4rem;
  }
}
